<li><%= link_to 'Quienes Somos', root_path %></li>
<li>
        <% if current_user %>
          <%= link_to "Sing out", destroy_user_session_path, method: :delete%>
        <% else %>
          <%= link_to "Iniciar Sesión", rails_admin_path %>
        <% end %>  
  
  </li>
<li><%= link_to 'Pedir Taxi' , pedir_path %></li>
<li><%= link_to 'Servicios', servicio_path %></li>
<li><%= link_to 'Tarifario' , tarifa_path %></li>
<li> <%= link_to 'Contactenos', contacto_path %></li>