<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TaxiXpress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <p>&nbsp</p>
	<h1><a href=""><em>Taxi Xpress</em></a>	</h1>
	<p>&nbsp</p>
    <p>&nbsp</p>
</div>

<div style="clear:both"></div>
<div id="content"><div class="inner_copy"></div>
	<div><img src="<%= asset_path 'img4.jpg' %>" alt="" /></div>
	<div id="colOne">
		<div id="menu1">
			<ul>
				<li><%= link_to 'Quienes Somos', root_path %></li>
				<li><%= link_to 'Chofer' , chofers_path %></li>
				<li id="menu-02"><a href="#">Pedir Taxi</a></li>
				<li><%= link_to 'Servicios', servicio_path %></li>
				<li><%= link_to 'Auto' , autos_path %></li>
				<li> <%= link_to 'Contactenos', contacto_path %></li>
			</ul>
		</div>
		<div class="margin-news">
			<h2>&nbsp;</h2>
			<p>&nbsp;</p>
		</div>
	</div>
	<div id="colTwo">
	     <%= yield %>
		
	</div>
	<div style="clear:both"></div>
</div>
<div id="footer">
	<div class="fleft"><p>Copyright statement.</p></div><div class="fright"><p>&nbsp;</p></div><div class="fclear"></div><div class="fcenter"><p>&nbsp;</p></div>
</div>
</body>
</html>






